.list-block {
  flex: 1;
}

i.list-leaf {
  margin-top: 1px;
  font-size: 19px;
}


.carousel {
  margin-inline: auto;
}

.carousel, .carousel img {
  max-width: 760px;
}


.hero-content-container {
  width: min(650px, 100%);
}

.hero-bg-img { 
  background-size: cover;
  background-position: center; 
}

.hero-text-overlay {
  display: inline-block;
  width: min(650px, 100%);
  padding: 35px;
  background: rgba(0, 0, 0, 0.45);
  border-radius: 15px;
}

.hero-text-overlay > * {
  text-shadow: 1px 1px 1px black;
}

/* .hero-text-overlay > * {
  color: white;
} */


.plant-hero-common-name {
  width: 100%;
}

.plant-hero-content {
  font-size: 1rem;
}

.plant-hero-img {
  max-width: 350px;
}

.plant-list-item {
  margin-top: 0;
  padding-block: 25px;
  border-block: 1px solid lightgrey;
}

.plant-list-item > .col {
  width: 100%;
}

.plant-list-item > .col > * {
  width: 100%;
}

.plant-list-item .plant-img {
  max-width: 170px;
  border: 1px solid grey;
}


.garden-list {
  width: 380px;
  margin-left: auto;
  border: 1px solid #ededed;
}

.modal:not(.fade) {
  position: fixed !important;
}

.modal-body__plant-details-container {
  display: flex;
  flex-direction: column;
}


.care-notes-list {
  padding-left: 0;
}

.note-list {
  list-style-type: none;
}

.edit-note,
.delete-note,
.submit-note {
  font-size: 0.9rem;
  background-color: #eee;
  padding: 8px 16px;
  display: inline-block;
  margin-right: 7px;
  border-radius: 4px;
  cursor: pointer;
}

.submit-note {
  color: #fff;
  border: none;
  background-color: #F95738;
  line-height: 1.65;
}

.submit-note:hover {
  background-color: #dd3f21;
}

@media (min-width: 635px) {
  .edit-note,
  .delete-note {
    position: relative;
    top: -12px;
  }
}

.edit-note:hover,
.delete-note:hover {
  background-color: #ddd;
}

.delete-note {
  color: red;
}

.update-note {
  visibility: hidden;
}

.update-note--visible {
  visibility: visible;
}

.note-title-field {
  width: 40%;
  font-size: 1.75rem;
  border: 1px solid transparent;
  padding: 7px;
  outline: none;
  position: relative;
  top: 1px;
}
@media (max-width: 400px) {
  .note-title-field {
    width: 100%;
  }
}
@media (min-width: 635px) {
  .note-title-field {
    width: 65%;
    font-size: 3.125rem;
  }
}

.note-body-field {
  color: #333;
  font-family: "Roboto", sans-serif;
  resize: none;
  display: block;
  width: 100%;
  line-height: 1.65;
  font-size: 1.15rem;
  padding: 7px;
  border: 1px solid transparent;
  height: 175px;
  outline: none;
}

.note-active-field {
  border: 1px solid #ddd;
  animation: pulseBorder 0.75s alternate infinite;
}

@keyframes pulseBorder {
  0% {
    border: 1px solid #fff;
  }
  100% {
    border: 1px solid #ccc;
  }
}
/* Create Note */
.create-note {
  background-color: #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.new-note-title {
  width: 100%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  border: none;
  margin-bottom: 10px;
  font-size: 1.15rem;
  box-sizing: border-box;
}

.new-note-body {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  border: none;
  margin-bottom: 10px;
  height: 170px;
  font-size: 1.15rem;
  line-height: 1.65;
}

/* .btn {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-size: 1.19rem;
  padding: 12px 24px;
  border: none;
  outline: none;
} */

.btn--small {
  font-size: 0.88rem;
  padding: 7px 13px;
  font-weight: 300;
}

.btn--blue {
  background: linear-gradient(#0D3B66, #0D3B66);
  color: white;
}

.btn--blue:hover {
  background: linear-gradient(#12518d, #0D3B66);
  color: white;
}

.font-italic {
  font-style: italic !important;
}