.list-block {
  flex: 1;
}

i.list-leaf {
  margin-top: 1px;
  font-size: 19px;
}


.carousel {
  margin-inline: auto;
}

.carousel, .carousel img {
  max-width: 760px;
}


.garden-list {
  width: 380px;
  margin-left: auto;
}

.modal:not(.fade) {
  position: fixed !important;
}

.modal-body__plant-details-container {
  display: flex;
  flex-direction: column;
}